.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    margin: 1rem 0;
}

.form-control input,
.form-control textarea{
    width: 90%;
    padding: .5rem;
}

.form-control label{
    font-size: 1.2rem;
    font-weight: 600;
}

.form-control.invalid input,
.form-control.invalid textarea{
    border-color: red;
}

.form-control.invalid label{
    color:red
}